[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
dash = "*"
geopandas = "*"
tqdm = "*"
matplotlib = "*"
dash-bootstrap-components = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3"
